*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100wh;
}

.container{
    height: 100%;
    width: 100%;
    background-color: white;
}

.navbar{
    position: relative;
    height: 80px;
    width: 100%;
box-shadow: 0px 10px 13px -13px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 10px 13px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 13px -13px rgba(0,0,0,0.75);
    background-color: white;
}

.logo{
    display: inline-block;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 10px;

}
#image{
  height: 50px;
  width: auto;
}

.section{
    position: absolute;
    display: inline-block;
    top: 40px;

}

.search{
    position: absolute;
    display: inline-block;
}

.icons{
    position: absolute;
    display: inline-block;
}
